
body{
    background-color: rgb(55, 55, 55);
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
}

h2{
    color: rgb(255, 255, 255);
    text-align: center;
}

img{
  width: 100%;

}
.container
{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 40px;
   margin: 40px;

}